<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="report.SetUp"></listener>
    </listeners>
    <test name="BookingTest"> <!--parallel="none" thread-count="1">-->
        <classes>
            <class name="booking.BookingTest">
                <methods>
                    <include name="createBooking"/>
<!--                    <include name="createBooking2"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>